.App {
  text-align: center;
}

.container-outer {
  display: flex;
  flex-direction: row;
}

div .sphere-1 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #9bf6ff;
  background-image:  url(escheresque.png), linear-gradient(43deg, #9bf6ff 0%, #bdb2ff 100%);
}

div .sphere-2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ffdee9;
  background-image: url(gplay.png), linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

div .sphere-3 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #0093e9;
  background-image: url(cutcube.png), linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

div .sphere-4 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #d9afd9;
  background-image: url(arches.png), linear-gradient(315deg, #d9afd9 0%, #97d9e1 100%);
}

div .sphere-5 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #fa8bff;
  background-image: url(strange-bullseyes.png),
    linear-gradient(45deg, #ffc6ff 0%, #9bf6ff 52%, #caffbf 90%);
}
